.container {
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: block;
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

.favouritesDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: #464d5a;
}

ul.images {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

li.imageCard {
    flex-direction: row;
    width:auto;
    height: 150px;
    min-width: 150px;
    margin: 20px;
    align-items: center;
}