.App {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.875em;
}

footer {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  background-color: #464d5a;
  color: white;
  bottom: 0;
}

footer>p {
  padding-right:20px;
}